In [1]:
#Variables
x="Presidency University"
print(x,'-',type(x))
x = 20
print(x,'-',type(x))
x = 20.5
print(x,'-',type(x))
x = True
print(x,'-',type(x))
x = 1j
print(x,'-',type(x))
x = ["apple", "banana", "cherry"]
print(x,'-',type(x))
x = ("apple", "banana", "cherry")
print(x,'-',type(x))
x = range(3)
print(x,'-',type(x))
x = {"name" : "John", "age" : 32}
print(x,'-',type(x))
x = {"apple", "banana", "cherry"}
print(x,'-',type(x))
x = frozenset({"apple", "banana", "cherry"})
print(x,'-',type(x))
x = b"Hi"
print(x,'-',type(x))
x = bytearray(5)
print(x,'-',type(x))
x = memoryview(bytes(5))
print(x,'-',type(x))
x = None
print(x,'-',type(x))

Presidency University - <class 'str'>
20 - <class 'int'>
20.5 - <class 'float'>
True - <class 'bool'>
1j - <class 'complex'>
['apple', 'banana', 'cherry'] - <class 'list'>
('apple', 'banana', 'cherry') - <class 'tuple'>
range(0, 3) - <class 'range'>
{'name': 'John', 'age': 32} - <class 'dict'>
{'apple', 'cherry', 'banana'} - <class 'set'>
frozenset({'apple', 'cherry', 'banana'}) - <class 'frozenset'>
b'Hi' - <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') - <class 'bytearray'>
<memory at 0x0000027ACE0056C0> - <class 'memoryview'>
None - <class 'NoneType'>

In [3]:
'''
Control Statements
# statements
    if condition:
        break
    # statements after break statement
'''

'\nControl Statements\n# statements\n    if condition:\n        break\n    # statements after break statement\n'

In [5]:
year = 2000
# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
	print("{0} is a leap year".format(year))
# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
	print("{0} is a leap year".format(year))
# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
	print("{0} is not a leap year".format(year))

2000 is a leap year

In [7]:
# Python program to show how to control the flow of loops with the break statement  
Details = [[19, 'Itika', 'Jaipur'], [16, 'Aman', 'Bihar']]  
for candidate in Details:  
	age = candidate[0]  
	if age <= 18:  
		break  
	print (f"{candidate[1]} of state {candidate[2]} is eligible to vote")

Itika of state Jaipur is eligible to vote

In [15]:
Details1=[[19, 'Itika', 'Jaipur'], [16, 'Aman', 'Bihar']]
for candidate in Details:
	name=candidate[1]
	if name=='Aman':
		print(f"{candidate[1]} of state {candidate[2]}")

Aman of state Bihar

In [9]:
# Python program to show how to control the flow of a loop using a continue statement  
# Printing only the letters of the string  
for i in 'Data Analytics and Business Intelligence':  
	if i == 'a':  
		continue  
	print ('Letter: ', i)

Letter:  D
Letter:  t
Letter:
Letter:  A
Letter:  n
Letter:  l
Letter:  y
Letter:  t
Letter:  i
Letter:  c
Letter:  s
Letter:
Letter:  n
Letter:  d
Letter:
Letter:  B
Letter:  u
Letter:  s
Letter:  i
Letter:  n
Letter:  e
Letter:  s
Letter:  s
Letter:
Letter:  I
Letter:  n
Letter:  t
Letter:  e
Letter:  l
Letter:  l
Letter:  i
Letter:  g
Letter:  e
Letter:  n
Letter:  c
Letter:  e

In [17]:
# Python program to show how to create empty code blocks using a pass statement  
for l in 'Data Analytics and Business Intelligence':  
    if l == 'a':  
        pass  
    print('Letter: ', l)

Letter:  D
Letter:  a
Letter:  t
Letter:  a
Letter:
Letter:  A
Letter:  n
Letter:  a
Letter:  l
Letter:  y
Letter:  t
Letter:  i
Letter:  c
Letter:  s
Letter:
Letter:  a
Letter:  n
Letter:  d
Letter:
Letter:  B
Letter:  u
Letter:  s
Letter:  i
Letter:  n
Letter:  e
Letter:  s
Letter:  s
Letter:
Letter:  I
Letter:  n
Letter:  t
Letter:  e
Letter:  l
Letter:  l
Letter:  i
Letter:  g
Letter:  e
Letter:  n
Letter:  c
Letter:  e

In [22]:
# Python program to show how to create empty code blocks using a pass statement  
for l in 'Data Analytics and Business Intelligence':  
	if l == 'a':
		break
	print('Letter: ', l)

Letter:  D

In [24]:
#List
myList = [1, 2, 3, 5,4]
myList.append(7)#onlysinglevalue
myList.extend([8,0,10])#multiplevalue
myList.insert(3, 15)#index of 3 add 15
print(myList)#1,2,3,15,5,4,7,8,0,10
myList.remove(8)#remove value 8
print('After applying remove()',myList)#1,2,3,15,5,4,7,0,10
myList.pop(3)#remove value from index 3
print('After applying pop()',myList)#1,2,3,5,4,7,0,10
print('Slicing',myList[2:4])#3,5
print('After applying reverse()',myList.reverse())#none
print('Length of list',len(myList))#8
print('Min value',min(myList))#0
print('Max value',max(myList))#10
print('No .occurences of 1',myList.count(1))#1

[1, 2, 3, 15, 5, 4, 7, 8, 0, 10]
After applying remove() [1, 2, 3, 15, 5, 4, 7, 0, 10]
After applying pop() [1, 2, 3, 5, 4, 7, 0, 10]
Slicing [3, 5]
After applying reverse() None
Length of list 8
Min value 0
Max value 10
No .occurences of 1 1

In [26]:
#List comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [28]:
#Tuple
my_tuple = (1, 2, 3, 2, 4, 2)
# Counting the number of occurrences of 2
count = my_tuple.count(2)
print(count) 
# Finding the index of the first occurrence of 2
index = my_tuple.index(2)
print(index)
length = len(my_tuple)
print(length)       
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  
smallest = min(my_tuple)
print(smallest) 
# Finding the largest element in the tuple
largest = max(my_tuple)
print(largest)  
replicated_tuple = my_tuple * 3
print(replicated_tuple) 
del my_tuple
# Trying to access the tuple after deletion will raise an error
print(my_tuple) #error

3
1
6
[1, 2, 2, 2, 3, 4]
1
4
(1, 2, 3, 2, 4, 2, 1, 2, 3, 2, 4, 2, 1, 2, 3, 2, 4, 2)

NameError: name 'my_tuple' is not defined

In [ ]:
#Dictionary
d = {'1': 'Machine Learning', '2': 'Deep Learning', '3': 'Data Mining'} 
print('List of keys:',list(d.keys()))
print('List of values:',list(d.values()))
print('Value for 1:',d.get('1')) 
d2 = {'4': 'Java', '5': 'Data Science'} 
d.update(d2)
print('Access key at[1,0]:',list(d.items())[1][0])  # access to key using the index value
print('Access key at[1,1]:',list(d.items())[1][1])# access to values using the index value
d.pop('5')
print('After deletion of key 5',d)
d.popitem()  # Pops the last item
print('After popitem()',d) 
d.clear() 
print(d)

In [30]:
#Functions using math
import math 
print (math.e)
print ("The ceil of 2.3 is : ", math.ceil(2.3)) 
print ("The floor of 2.3 is : ", math.floor(2.3)) 
print("The factorial of 5 is : ", math.factorial(5))
print ("The gcd of 5 and 15 is : ", math.gcd(15,5)) 
print ("The absolute value of -10 is : ", math.fabs(-10)) 
print (math.exp(4)) 
print (math.exp(-3)) 
print (math.exp(0.0))
print (pow(3,4))
print ("The value of log 2 with base 3 is : ", math.log(2,3)) 
print ("The value of log2 of 16 is : ",math.log2(16)) 
print ("The value of log10 of 10000 is : ", math.log10(10000)) 
print('Square root of 3.5',math.sqrt(3.5))
print ("The value of sine of 0.90 is : ", math.sin(0.90)) 
print ("The value of cosine of 0.90 is : ", math.cos(0.90)) 
print ("The value of tangent of 0.90 is : ", math.tan(0.90)) 
print ("The converted value from radians to degrees is : ", math.degrees(0.90)) 
print ("The converted value from degrees to radians is : ", math.radians(0.90)) 
print ("The gamma value of the given argument is : ", str(math.gamma(0.90))) 
print (math.isinf(math.pi)) 
print (math.isnan(math.pi))

2.718281828459045
The ceil of 2.3 is :  3
The floor of 2.3 is :  2
The factorial of 5 is :  120
The gcd of 5 and 15 is :  5
The absolute value of -10 is :  10.0
54.598150033144236
0.049787068367863944
1.0
81
The value of log 2 with base 3 is :  0.6309297535714574
The value of log2 of 16 is :  4.0
The value of log10 of 10000 is :  4.0
Square root of 3.5 1.8708286933869707
The value of sine of 0.90 is :  0.7833269096274834
The value of cosine of 0.90 is :  0.6216099682706644
The value of tangent of 0.90 is :  1.2601582175503392
The converted value from radians to degrees is :  51.56620156177409
The converted value from degrees to radians is :  0.015707963267948967
The gamma value of the given argument is :  1.068628702119319
False
False

In [32]:
import random
from random import sample
list1 = [1, 2, 3, 4, 5, 7]
print(random.choice(list1))
random.seed(5)
print(random.random())
r2 = random.randint(-10, -2)
print("Random number between -10 and -2 is % d" % (r2))
print(sample(list1,3))
random.shuffle(list1)

7
0.6229016948897019
Random number between -10 and -2 is -5
[7, 5, 1]